<openerp>
    <data>
            <menuitem id="eb_main_menu" name="Ebank"
                  parent="" sequence="1"/>

            <menuitem id="eb_window"
                      name="Window"
                      action="window_wizard_action"
                      parent="eb_main_menu"
                      groups="base.group_system"
                      sequence="1"/>

            <menuitem id="eb_transaction"
                      name="Transaction"
                      action="act_open_eb_transaction_view"
                      parent="eb_main_menu"
                      groups="base.group_system"
                      sequence="2"/>

            <menuitem id="eb_settings"
                      name="Settings"
                      action="act_open_eb_setting_view"
                      parent="eb_main_menu"
                      groups="base.group_system"
                      sequence="3"/>
    </data>
</openerp>
